/* les polices */

@font-face {
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: 'Open';
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: bold;
}
body {
	margin: 0;
	padding: 0;
}

/*en tête de la page*/
ul {
	margin: 0;
	padding: 0;
}
.first-info {
	width: 80%;
	position: relative;
	top: 300Px;
	left: 120px;
	border: 1px solid red;
}
div.first-info a {
	border-radius: 5px;
	padding: 13px;
	text-decoration: none;
	display: inline-block;
	margin-top: 38px;
	text-align: right;
	padding-right: 30px;
}
div.first-info a:nth-child(3) {
	background-color: #16A085;
	width: 10%;
	color: white;
	margin-left: 390px;
}
div.first-info a:nth-child(4) {
	background-color: #fff;
	color: #353535;
	width: 15%;
}
div.first-info a:nth-child(4):hover {
	background-color: #16A085;
	color: white;
	cursor: pointer;
}
header {
	background-image: url(../img/f13.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	position: relative; 
	top: 0;
	left: 0;
}

p {
	font-size: 15px;
	font-family: OpenSans, sans-serif;
	color: #353535;
}
header h1,p {
	margin: 0;
	padding-top: 10px;
	text-align: center;
	/*color: white;*/
}
header h1 {
	font-family: OpenSans, sans-serif;
	font-size: 50px;
	margin-bottom: 30px;
}
.button {
	width: 15%;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 400px;
}
li {
	padding: 20px;
	color: #fff;
}
li a {
	text-decoration: none;
	color: #fff;
}
li a:hover {
	color: #16A085;
}

/* barre de navigation */

nav {
	background-color: #353535;
	height: 500px;
	width: 200px;
	position: fixed;
	left: 0;
	top: 100px;
	display: none;

}
nav div {
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #16A085;
	width: 200px;
	height: 50px;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin-bottom: 12px;
	font-family: Open,sans-serif;
	color:#353535;	
}
h1 {
	text-transform: uppercase;	
}

/* corps de la page*/

/*première section*/

div.texte {
	color: white;
	margin-bottom: 10px;
}
.marg-2 {
	margin-top: 50px;
	color: white;
}
.style-section {
	margin-top: 100px;
}
.style-section p.prgh {
	text-align: center;
	width: 800px;
	margin: 10px auto;
	color: #666;
}
.style-section div.h-line img {
	background-color: #16A085;
	border-radius: 15px;
	padding: 3px;
	position: absolute;
	margin-top: -13px;
	margin-left: 55px;
}
.style-section div.h-line {
	border-top: 3px solid #16A085; 
	width: 130px;
	margin: 0 auto;
}
.sub-section-1 {
	border: 1px solid;
	border-radius: 5px;
	margin-top: 50px;
	background-color: #353535;
	width: 80%;
	height: 450px;
	margin: 40px auto;
	overflow: hidden;
	/*position: relative;
	top: 0;
	left: 0;*/
}
.my-infos {
	padding-top: 0px;
	margin-left: 70px;
	width: 100%;
	height: 500px;
}
.my-infos h2 {
	padding-top: 20px;
	width: 200px;
	color:#eee;
	font-size: 20px;
	text-align: left;
}
.my-infos div img {
	float: left;
}
.my-infos div.bloc {
	width: 85%;
}
/*barre de defilement*/
.h-bar  {
	border-left: 2px solid #16A085;
	width: 1px;
	height: 300px;
	position: absolute;
	margin-top: 25px;
	margin-left: 40px;
}
.h-bar img {
	background-color: #16A085;
	border-radius: 35px;
	padding: 2px;
	margin-left: -20px;
	margin-bottom: 50px;
}
.h-bar img:nth-child(1) {
	margin-top: 0;
}
/*barres de progression*/

.pro-bar {
	display: inline-block;
	width: 500px;
	height: 150px;
	border: 1px solid;
	margin-top: 80px;
}
.progress {
	background-color: white;
	height: 8px;
	width: 450px;
	position: relative;
	top: 0;
	left: 0;
}
.progress-co {
	height: 23px;
	width: 30px;
	background-color: #16A085;
	border-radius: 25px;
	color: white;
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 1px;
	font-size: 13px;
}
.co-space-1 {
	background-color: #16A085;
	height: 8px;
	width: 400px;
}
.co-space-1+.progress-co {
	position: absolute;
	bottom: -14px;
	right: 50px;
}
.co-space-2 {
	background-color: #16A085;
	height: 8px;
	width: 350px;
}
.co-space-2+.progress-co {
	position: absolute;
	bottom: -14px;
	right: 100px;
}
.co-space-3 {
	background-color: #16A085;
	height: 8px;
	width: 100px;
}
.co-space-3+.progress-co {
	position: absolute;
	bottom: -14px;
	left: 90px;
}
.co-space-4 {
	background-color: #16A085;
	height: 8px;
	width: 200px;
}
.co-space-4+.progress-co {
	position: absolute;
	bottom: -14px;
	left: 180px;
}
.co-space-5+.progress-co {
	position: absolute;
	bottom: -14px;
}
.co-space-5 {
	background-color: #16A085;
	height: 10px;
	width: 250px;
}
hr {
	border: 1px solid #16A085;
	width: 100px;
	margin-left: 5px;
}

/*Deuxième section*/

.d-subsection {
	width: 80%;
	margin: 40px auto;
}
.d-subsection div {
	border: 1px solid #939393;
	width: 250px;
	height: 230px;
	display: inline-block;
	margin-left: 15px;
	background-color: white;
	box-shadow: 0px 0px 12px #939393;
	padding-bottom: 10px;
	color: #353535;
}
.d-subsection div:nth-child(1) {margin-left: 0;}
.d-subsection h3 {
	text-align: center;
	font-family: OpenSans,sans-serif;
}
.d-subsection p {
	color: #666;
	text-align: center;
	font-size: 15px;
}
.d-subsection div:hover {
	background-color: #16A085;
	color: white;
}
.d-subsection div:hover p {
	color: white;
}
.d-subsection div img {
	margin-left: 90px;
}
.section-2 {
	background-color: #F5F5F5;
	padding-top: 40px;
	padding-bottom: 40px;
}

/*Troisième section*/

.img-project {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
}
.img-project+a {
	border: 1px solid;
	text-decoration: none;
	background-color: #16A085;
	border-radius: 28px;
	display: block;
	width: 165px;
	text-transform: uppercase;
	color: white;
	font-family: open;
	font-size: 15px;
	padding: 15px 0 15px 60px; 
	margin: auto;
	clear: both;
}
.img-project+a:hover {
	background-color: #353535;
}
.img-project img {
	padding-bottom: 60px;
	float: left;
	}

/*Quatrième section*/

.forth-sect {
	margin-top: 80px;
	background-image: url(../img/f14.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 400px;
	position: relative;
}
.forth-sect div.f-subsection {
	/*border: 1px solid white;*/
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-top: 100px;
	color: white;
	font-size: 15px;
	font-family: OpenSans;
	text-transform: uppercase; 
	margin-left: 30px;
}
div.f-subsection:nth-child(1) {
	margin-left: 100px;
}
div.f-subsection:nth-child(2) {
	margin-left: 100px;
}
div.f-subsection:nth-child(3) {
	margin-left: 80px;
}
div.f-subsection:nth-child(4) {
	margin-left: 100px;
}
.f-subsection div {
	width: 90px;
	height: 90px;
	border-radius: 65px;
	background-color: #16A085;
	margin-left: 60px;
	margin-bottom: 20px;
	/*transition: transform .2s;*/
}
/*.f-subsection div:hover {
	position: absolute;
	border: 2px solid #16A085; 
	transform: scale(1.8);
	-webkit-transform: scale(1.8);
}*/
.f-subsection span:nth-child(2) {
	font-size: 36px;
	font-family: open,sans-serif;
	margin-left: 80px;
}
.f-subsection span:nth-child(4) {
	font-size: 15px;
	font-family: OpenSans,sans-serif;
	padding-top: 20px;
	display: block;
	text-align: center;
}
.img-1 {
	padding-left: 5px;
	margin-top: 14px;
	margin-left: 10px;		
}
.img-2 {
	padding-left: 5px;
	margin-top: 15px;
	margin-left: 10px;		
}
.img-3 {
	padding-left: 5px;
	margin-top: 15px;
	margin-left: 12px;		
}.img-4 {
	padding-left: 5px;
	margin-top: 15px;
	margin-left: 16px;		
}