/*fichier css de la lettre de motivation*/

body {background-color:grey;}

.centre {text-align:center;
border:2px solid black;
width:500px;
margin-top:30Px;
margin-left:130px;
margin-right:150px;}

.date {
	text-align:right;
	margin-top:50px;
}

span {display:block;
text-align:center;}

.objet {text-align:left;}

p>span {font-weight:bold;
display:inline;}

.info_perso {margin-top:50px;
font-size:20px;
font-family:arial,sans-serif;}

.gros_bloc {background-color:white;
width:800px;
border:2px solid black;
margin:20px auto;
padding:10px;
height:1000px;
}

p {
	line-height:1.5;
}

.info-perso {
	margin-top:30px;
}

.texte {margin:auto;}


