/*déclaration des polices*/
@font-face{
	font-family: "Merriweather";
	src: url(../fonts/merriweather/Merriweather-Bold.ttf);
}
@font-face {
	font-family: "motion picture personal";
    src: url(../fonts/motionpicture/MotionPicture_PersonalUseOnly.ttf);
}
@font-face {
	font-family:"montserrat";
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

/*en tête de la page*/
/*barres de navigation*/
.big-block {
	margin:5px auto;
    width:1000px;
}
.block1 {background-color:#00BF9A;
width:1000px;}
.block1 li a{
	color:white;
	font-family:'Monserrat',sans-serif;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
}     
ul {list-style-type:none;}
li {
    display:inline-block;
    margin:5px 10px 0 5px;
    padding:10px;
    
}
.block2 li a{
	color:#8A8A8A;
	font-family:'Monserrat',sans-serif;
	text-decoration:none;}
.logo {
	font-family:'motion picture personal', cursive;
	font-size:70px;
	text-align:center;
	}	
.deshi {color:#8A8A8A;}
.mag {color:#00BF9A;}

/*image de fond et les mini-blocs*/
.block1 ul {margin-left:200px;}
.block2 ul {margin-left:200px;}
.p1 { 
	background-image: url(../img/fond-top.jpg);
    width:1000px;
	height:500px;
	background-repeat:no-repeat;
}
.p1 p {
	font-family:merriweather, serif;
	font-size:30px;
	color:white;
	margin-left:160px;
	padding-left:80px;
	color:white;
	margin:5px;
}
.p1 a {
	text-decoration:none;
	color:white;
	font-size:20px;
}
.bouton {
	font-family:montserrat, sans-serif;
	font-size:20px;
	color:white;
	border:2px solid #00BF9A;
	background-color:#00BF9A;
	width:90px;
	border-radius:10px;
	text-align:center;
	margin:20px 0 10px 90px;
	padding:5px;
}

.block3 {
	border:2px solid white;
    position:relative;
    top:0;
    left:0;
}

.img {
	display:inline-block;
	background-image: url(../img/vignette.png);
	width:200px;
	height:300px;
	background-repeat:no-repeat;
	float:left;
	margin:10px;
	color:white;
	font-family:'Monserrat',sans-serif;
}
.img p {
	margin:80px 5px 5px 5px;
	padding:2px;
}
.mini-block1 {
	position:absolute;
    top:250px;
    left:50px;
}
span.date {font-size:10px;font-weight:bold;}
div.img {box-sizing: border-box;}
.p1 {border:2px solid white;}