/*déclaration des polices*/
@font-face{
	font-family: "Merriweather";
	src: url(../fonts/merriweather/Merriweather-Regular.ttf);
}
@font-face {
	font-family: "motion picture personal";
    src: url(../fonts/motionpicture/MotionPicture_PersonalUseOnly.ttf);
}
@font-face {
	font-family:"montserrat";
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

/*en tête de la page*/
/*barres de navigation*/

.block1 {background-color:#00BF9A;}
.block1 li a {
	color:white;
	font-family:'Monserrat',sans-serif;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
}     
ul {list-style-type:none;}
li {
    display:inline-block;
    margin:5px 10px 0 5px;
    padding:10px;
    
}
.block2 li a {
	color:#8A8A8A;
	font-family:'Monserrat',sans-serif;
	text-decoration:none;}
.logo {
	font-family:'motion picture personal', cursive;
	font-size:70px;
	text-align:center;
	}	
.deshi {color:#8A8A8A;}
.mag {color:#00BF9A;}

/*image de fond et les mini-blocs*/
.block1 ul {margin-left:200px;}
.block2 ul {margin-left:200px;}
.p1 { 
	background-image: url(../img/fond-top.jpg);
	background-size: cover;
	height:650px;
	background-repeat:no-repeat;
}
.p1 p {
	font-family:merriweather, serif;
	font-weight:bold;
	font-size:40px;
	color:white;
	padding-left:230px;
	padding-top:250px;
	color:white;
	margin:5px;
}
.p1 a {
	text-decoration:none;
	color:white;
	font-size:8px;
	display:block;
	font-family:montserrat, sans-serif;
	padding:3px 5px;
	text-align:center;
	border:2px solid #00BF9A;
	border-radius:10px;
	background-color:#00BF9A;
	width:50px;
}
.block3 {
	border:2px solid white;
    position:relative;
    top:0;
    left:0;
}
.block1 {
	position:relative;
	top:0;
	left:0;
}
.img {
	display:inline-block;
	background-image: url(../img/vignette.png);
	width:200px;
	height:150px;
	background-repeat:no-repeat;
	float:left;
	color:white;
	font-family:Merriweather,sans-serif;
	margin-left:20px;
}
.img p {
	margin:80px 5px 5px 5px;
	padding:2px;
	font-size:12px;
	font-weight:bold;
}
.mini-block1 {
	position:absolute;
    top:450px;
    left:230px;
}
span.date {
	font-size:10px;
	font-weight:bold;
	display:block;
}
div.img {box-sizing: border-box;}
.p1 {
	border:2px solid white;
	box-sizing:border-box;
}

/*Ligne horizontale*/
hr {width: 65%;}

/*les icones*/
i {
	color: white;
	padding: 5px 5px 10px 0;
}
.icon {
	position:absolute;
	top:10px;
	right:100px;
}
.search {padding-left:60px;}
