
/*Polices*/

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

/*Barre de navigation*/

div.navbar {
	background-color: #00A14C;
	box-shadow: -5px 5px 15px #000;
	border-radius: 5px;
	
}

ul {
	
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	left: 100px;
	
}
li {
	list-style-type: none;
	display: inline-block;
	padding: 15px;
	color: white;


}
li a {
	text-decoration: none;
	text-align: center;
	font-family: 'Chivo', sans-serif;
	font-weight: bold;
}
li:hover {
	background-color:#f6c63d;
	border-radius: 2px;
	color: white;
	box-shadow: -5px 5px 15px #000;
	
}
a {
	color: inherit;
}

/*Textes*/

h1, h2 {
	text-align: center;
	font-family: montserrat, sans-serif;}
h1 {padding-top: 30px;}

/*Logo*/

.logo {
	background-image: url(../img/logo-myga.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 180px;
	margin: 20px auto;
}

/*Image de fond*/

.image-fond {
	background-image: url(../img/photo2-gb.jpg);
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;

}

/*Formulaire*/

.form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-shadow: -5px 5px 15px #000;
	/*border: 2px solid;*/
	background-color: #D9E8D7;
	
	
}

div input {
	width: 500px;
	height: 50px;
	display: inline-block;
	border:1px solid #008CBA;
	margin-top: 20px;
	border-radius: 4px;
	font-style: italic;
	padding-left: 10px;
}
.bloc1, .bloc2{
	display: inline-block;
	padding: 10px;
}
label{
	font-size: 25px;
	font-family: arial;
	color: ;
}
button {
	background-color: #008CBA;
	color: white;
	border:2px solid #008CBA;
	margin-top: 5px;
	padding: 5px;
	width: 80px;
}

/*Les icones*/

.icone {
	display: inline-block;
	margin-left: 600px;
	position: relative;
	top:5px;
}
a img {
	padding-left:10px;
}

/*Couleurs de fond*/

.bg-vert {background-color: #00A14C;}
.bg-jaune {background-color: #EDDE45;}
.bg-bleu {background-color: #008CBA;}
.bg-b {background-color: #19DD89;}

/*Informations supplémentaires*/

.info-sup {
	margin-top: 70px;
	margin-left: 120px;
}
.info-sup div {
	width: 500px;
	height: 30px;
	box-shadow: -5px 5px 15px #000;
	border-radius: 25px;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 20px;
}
.info-sup-b2 {
	position: relative;
	left: 400px;
	bottom: 50px;
	margin-left: 150px;

}
.info-sup-b3 {
	position: relative;
	bottom: 50px;
	margin-top: 40px;
}
.info-sup-b4 {
	position: relative;
	left: 400px;
	bottom: 100px;
	margin-left: 150px;
	margin-top: 2px;
}
.info-sup div:nth-child(1):hover {
	color: #00A14C;
	border: 3px solid #00A14C;
	background-color: white;
	font-weight: bold;
	
}.info-sup div:nth-child(2):hover {
	color: #008CBA;
	border: 3px solid #008CBA;
	background-color: white;
	font-weight: bold;
	
}.info-sup div:nth-child(3):hover {
	color: #EDDE45;
	border: 3px solid #EDDE45;
	background-color: white;
	font-weight: bold;
	
}.info-sup div:nth-child(4):hover {
	color: #19DD89;
	border: 3px solid #19DD89;
	background-color: white;
	font-weight: bold;
	
}