
/*Polices*/

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Regular.ttf);
}

body{
	
	margin: 0;
	padding: 0;

}
/*Barre de navigation*/

div.navbar {
	background-color: #00A14C;
	box-shadow: -5px 5px 15px #000;
	border-radius: 5px;
	
}

ul {
	
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	left: 100px;
	
}
li {
	list-style-type: none;
	display: inline-block;
	padding: 15px;
	color: white;


}
li a {
	text-decoration: none;
	text-align: center;
	font-family: 'Chivo', sans-serif;
	font-weight: bold;
}
li:hover {
	background-color:#f6c63d;
	border-radius: 2px;
	color: white;
	box-shadow: -5px 5px 15px #000;
	
}
a {
	color: inherit;
}

/*Textes*/

h1, h2 {
	text-align: center;
	font-family: montserrat, sans-serif;
	color: #1A2B2B;
}
h1 {padding-top: 30px;}

/*Logo*/

.logo {
	background-image: url(../img/logo-myga.png);
	background-repeat: no-repeat;
	height: 80px;
	width: 180px;
	margin: 20px auto;
}

/*Image de fond*/

.image-fond {
	background-image: url(../img/photo3-gb.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;

}

/*Formulaire*/

.form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-shadow: -5px 5px 15px #000;
	background-color: #D9E8D7;
}

div input {
	width: 500px;
	height: 50px;
	display: inline-block;
	border:1px solid #008CBA;
	margin-top: 20px;
	border-radius: 4px;
	font-style: italic;
	padding-left: 10px;
}
.bloc1, .bloc2{
	display: inline-block;
	padding: 10px;
}
.bloc1{
	margin-left: 60px;
}
label{
	font-size: 25px;
	font-family: arial, sans-serif;
}
.button {
	background-color: #008CBA;
	color: white;
	border:2px solid #008CBA;
	font-style: normal;
	font-weight: bold;
	margin-top: 5px;
	width: 50px;
	height: 30px;
}

/*Les icones*/

.icone {
	display: inline-block;
	margin-left: 600px;
	position: relative;
	top:5px;
}
a img {
	padding-left:10px;
}
.txt {
	text-align: right;
	font-style: normal;
	font-weight: bold;
	padding-right: 5px;
	font-size: 20px;
}

/*Couleurs de fond*/

.bg-vert {background-color: #00A14C;}
.bg-bleu {background-color: #008CBA;}
.bg-jaune {background-color: #EDDE45;}
.bg-v {background-color: #19DD89;}

/*Informations supplémentaires*/

.border-vert {border: 2px solid #00A14C;}
.border-bleu {border: 2px solid #008CBA;}
.border-jaune {border: 2px solid #EDDE45;}
.border-v {border: 2px solid #19DD89;}
.info-sup {
	margin-top: 70px;
	margin-left: 120px;
}
.info-sup div {
	width: 500px;
	height: 30px;
	box-shadow: -5px 5px 15px #000;
	border-radius: 25px;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
.info-sup-b2 {
	position: relative;
	left: 400px;
	bottom: 52px;
	margin-left: 150px;

}
.info-sup-b3 {
	position: relative;
	bottom: 50px;
	margin-top: 40px;
}
.info-sup-b4 {
	position: relative;
	left: 400px;
	bottom: 115px;
	margin-left: 150px;
	margin-top: 10px;
}
.info-sup div:nth-child(1):hover {
	color: #00A14C;
	border: 2px solid #00A14C;
	background-color: white;
	font-weight: bold;

	
}
.info-sup div:nth-child(2):hover {
	color: #008CBA;
	border: 2px solid #008CBA;
	background-color: white;
	font-weight: bold;	
}
.info-sup div:nth-child(3):hover {
	color: #EDDE45;
	border: 2px solid #EDDE45;
	background-color: white;
	font-weight: bold;
	
}
.info-sup div:nth-child(4):hover {
	color: #19DD89;
	border: 2px solid #19DD89;
	background-color: white;
	font-weight: bold;
	
}
.info-sup a {
	display: block;
	text-decoration: none;
}

span {
	color: #00A14C;
	font-weight: bold;
}

/*Le pied de page*/

.f-footer {
	background-color: #1A2B2B;
	height: 300px;
	font-family: chivo;
}
.s-footer {
	background-color: #626266;
	height: 50px;
}
p{color: white;}
p:nth-child(1) {
	width: 100px;
	padding-top: 1px;
	padding-left: 40px;
	position: relative;
	left: 200px;
	top: 30px;
}
p:nth-child(2) {
	position: relative;
	bottom: 90px;
	left: 350px;
	width: 200px;
	padding-left: 60px;
	padding-top: 10px;
}
p:nth-child(3) {
	position: relative;
	left: 600px;
	bottom: 240px;
	width: 200px;
	padding-left: 70px;
	padding-top: 15px;
}
.l-space {line-height: 30px;}

/*Les icones du pied de la page*/

.ico-footer {
	position: relative;
	left: 800px;
	margin-left: 50px;
	bottom: 375px;
	width: 400px;
	/*border: 2px solid;*/
}
.ico-footer img {
	margin: 10px;
}
.txt-ico-footer {
	/*border: 2px solid;*/
	padding-top: 4px;
	display: block;
	width: 200px;
	margin-bottom: 20px;
	text-align: center;
}
