@font-face{
  src: url("../fonts/futura-light.ttf");
  font-family: 'futura';
}
body{
  margin: 0;
  padding: 0;
  font-family: futura, arial;
}
header {padding: 0;}
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 4px;
}
li a {
  text-decoration: none;
  color: #646464;
}
#home {
  font-weight: bold;
  color: #000;
}
#social {
  margin-left: 80px;
  margin-top: 5px;
  padding: 5px;
}
#social img {
  margin-left: 12px;
}
nav ul {
  padding: 0;
  margin: 0;
  margin-left: 400px;
}
.container{
  width: 80%;
  margin: auto;
}

/* right section  */

aside {
  width: 35%;
  float: right;
}
#logo{
  margin-left: 60px;
  margin-top: 45px;
}
#social-networks {
  margin-left: 20px;
}
article p {
  font-size: 18px;
}
.paginate span {
  display: inline-block;
  width: 15px;
  padding: 2px;
  border: 2px solid #969696;
  text-align: center;
  margin-left: 10px;
}
.paginate span:nth-child(6) {
  width: 60px;
}
.paginate {
  margin-top: 20px;
  margin-left: 140px;
}
.right-section-bloc1,
.right-section-bloc2,
.right-section-bloc3 {
border-bottom: 3px solid #969696;
}
.right-section-bloc1 span.follow-me {
  margin-left: 125px;
}
.right-section-bloc1 p:nth-child(2) span{
  font-weight: bold;
}
.right-section-bloc1 p:nth-child(2) {
  margin-left: 30px;
}
.right-section-bloc2 {
  border-bottom: 3px solid #969696;
}
.right-section-bloc2 div:nth-child(2) {
position: relative;
top: 0;
left: 0;
}
.right-section-bloc2 div:nth-child(3) {
position: relative;
top: 0;
left: 0;
}
.right-section-bloc2 div:nth-child(2) span:first-of-type {
position: absolute;
top: 2px;
right: 90px;
}
.right-section-bloc2 div:nth-child(2) small{
position: absolute;
bottom: 3px;
left: 95px;
}
.right-section-bloc2 div:nth-child(3) span:first-of-type {
  position: absolute;
  top: 2px;
  right: 80px;
}
.right-section-bloc2 div:nth-child(3) small{
position: absolute;
bottom: 3px;
left: 95px;
}
.right-section-bloc2 div:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 25px;
}
.right-section-bloc2+div ul li{list-style-type: none;}
.right-section-bloc3 {
  border-bottom: 3px solid grey;
}
.right-section-bloc3 ul{
  margin-top: 10px;
  padding: 0;
}
.right-section-bloc3 ul li{
  line-height: 23px;
}
.right-section-bloc3 span {
  margin-bottom: 10px;
  padding-top: 35px;
  display: block;
}
.bold-text{font-weight: bold;}
.image-fond {
  background-image: url("../img/1.png");
  background-size: cover;
  height: 300px;
}
.title {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}
.title span:first-child {
  margin-right: 20px;
  color: #868686;
}
.last-articles {
  display: block;
  margin: 10px 0;
  padding-top: 15px;
}
.lifestyle {
  display: block;
  border: 2px solid #dbdbdb;
  width: 100px;
  margin-top: 20px;
  text-align: center;
}
.readmore {
  display: block;
  border: 3px solid #969696;
  width: 615px;
  text-align: center;
}
h1{
  margin: 0;
  margin-top: 5px;
}
.marg {
  margin-top: 30px;
}
.date {
  margin-bottom: 10px;
  display: block;}

/*Footer*/
footer{
  background-color: #000;
  margin: 0;
  padding: 0;
}
footer div {
  width: 81%;
  margin: auto;
  /* border: 1px solid blue; */
}
footer div img:first-of-type {
  margin-left: 0;
}
footer div img {margin-left: 8px;}
footer p {
  color: #d8d8d8;
  text-align: center;
}
footer p span {
  font-size: 12px;
}
footer p span:first-of-type {
  font-size: 30px;
  word-spacing: 15px;
}
footer p {padding-top: 20px;}
/*end of the footer*/
