@font-face{
  src: url("assets/fonts/ProductSans-Thin.ttf");
  font-family: 'ProductSans';
}
body{
  margin: 0;
  padding: 0;

}
header {padding: O;}
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 4px;
}
li a {text-decoration: none;}
nav ul{
  padding: 0;
  margin: 0;
  margin-left: 500px;
}
.container{
  width: 80%;
  margin: auto;
}

/* right section  */

aside {
  border: 1px solid;
  width: 35%;
  float: right;
}
.right-section-para1 {
  text-align: center;
}
.right-section-para1 p:nth-child(2) span{
  font-weight: bold;
}
.last-articles {display: block;}
.last-articles span {display: block;}
.right-section-para2 div img {float: left;}
