@font-face{
  src: url("assets/fonts/ProductSans-Thin.ttf");
  font-family: 'ProductSans';
}
body{
  margin: 0;
  padding: 0;

}
header {padding: O;}
nav li {
  display: inline-block;
  padding: 10px;
  margin-left: 4px;
}
li a {text-decoration: none;}
nav ul{
  padding: 0;
  margin: 0;
  margin-left: 500px;
}
.container{
  width: 80%;
  margin: auto;
}

/* right section  */

aside {
  width: 35%;
  float: right;
}
#logo{
  margin-left: 60px;
  margin-top: 45px;
}
#social-networks{
  margin-left: 20px;
}
.right-section-bloc1,
.right-section-bloc2,
.right-section-bloc3 {
border-bottom: 3px solid grey;
}
.right-section-bloc1 span.follow-me {
  margin-left: 80px;
}
.right-section-bloc1 p:nth-child(2) span{
  font-weight: bold;
}
.right-section-bloc1 p:nth-child(2) {
  margin-left: 30px;
}
.right-section-bloc2 {
  border-bottom: 3px solid grey;
}
.right-section-bloc2 div:nth-child(2) {
position: relative;
top: 0;
left: 0;
}
.right-section-bloc2 div:nth-child(3) {
position: relative;
top: 0;
left: 0;
}
.right-section-bloc2 div:nth-child(2) span:first-of-type {
position: absolute;
top: 2px;
right: 70px;
}
.right-section-bloc2 div:nth-child(2) small{
position: absolute;
bottom: 3px;
left: 95px;
}
.right-section-bloc2 div:nth-child(3) span:first-of-type {
  position: absolute;
  top: 2px;
  right: 50px;
}
.right-section-bloc2 div:nth-child(3) small{
position: absolute;
bottom: 3px;
left: 95px;
}
.right-section-bloc2 div:nth-child(3) {margin-top: 20px;}
.right-section-bloc2+div ul li{list-style-type: none;}
.right-section-bloc3 {
  border-bottom: 3px solid grey;
}
.right-section-bloc3 ul{
  margin-top: 10px;
  padding: 0;
}
.right-section-bloc3 ul li{
  line-height: 23px;
}
.right-section-bloc3 span {
  margin-bottom: 10px;
  padding-top: 35px;
  display: block;
}
.bold-text{font-weight: bold;}
.image-fond {
  background-image: url("../img/1.png");
  background-size: cover;
  height: 300px;
}
.last-articles {
  display: block;
  margin: 10px 0;
  padding-top: 15px;
}
