/***************
les polices
****************/
@font-face {
	font-family: 'Kosugi Maru';
	src: url(../fonts/.ttf);
}
@font-face {
	font-family: 'NTR';
	src: url(../fonts/.ttf);
}
@font-face {
	font-family: 'Raleway';
	src: url(../fonts/Raleway-ExtraBold.ttf);
}

/***********************
  en tête de la page
***********************/
header{
	position: relative;
	top: 0;
	left: 0;
	border: 1px solid #1A2B2B;
}
header div p {
	text-align: center;
	font-size: 20px;
}
header div:nth-child(3) {
	border: 3px solid white;
	width: 600px;
	margin: auto;
	position: absolute;
	top: 170px;
	left: 380px;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	color: white;
	z-index: 2;
	font-weight: bold;
	border-radius: 4px;
}
li {
	list-style-type: none;
}
.bg-img {
	background-image: url(../img/f3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(4px);
	-webkit-filter: blur(4px);
	position: relative;
	top: 0;
	left: 0;
	height: 400px;
}

/*barre de navigation*/
nav {
	width: 200px;
	height: 400Px;
	position: absolute;
	z-index: 2;
	top: 100px;
	right: 0;
}
ul {
	margin: 0;
	padding: 0;
}
.menu a>span {
	width: 30px;
	height: 2px;
	background-color: white;
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}
.bar {
	/*border: 1px solid white;*/
	width: 50px;
	height: 35px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 12px;
	right: 20px;
	display: block;	
}
nav {
	display: none;
}
.menu a:focus+nav {
	display: block;
}
.menu {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	background: #1A2B2B;
}

/***************
corps de la page
*****************/
.bg-color {
	background: #f3f3f3;
}
html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 10px;	
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	border: 1px solid;
	margin-left: 5px;
	
}
::-webkit-scrollbar-thumb {
	background-color: #025076;
	border-radius: 10px;
}
body {
	margin: 0;
	padding: 0;
	background-color: #D9E8D7;
	overflow-x: hidden;}

.intro {
	animation-duration: 15s;
	animation-name: texte;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	position: absolute;
	top: 50px;
	right: 400px;
}
@-webkit-keyframes texte {
	from {
		margin: auto;
		width: 0%;
		font-size: 50%;
	}
	to {
		margin: auto;
		width: 50%;
		font-size: 150%;
	}
}

/*****************		
 Sections
 *****************/
/*****************		
 Première section
 *****************/ 
hr {
	border: 1px dashed #1A2B2B;
	width: 600px;
	margin-right: 100px;
}
.title {
	width: 400px;
	padding-top: 30px;
	margin-left: 200px;
	/*border: 1px solid #1A2B2B;*/
}
.txt-center {
	text-align: center;
}
.first-sect  {
	margin-bottom: 0px;
	height: 500px;
}
.first-sect img {
	float: right;
	margin-right: 200px;
	margin-top: 65px;
}
.first-sect img:hover {
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}
.first-sect p {
	width: 600px;
	padding-left: 50px;
	margin-left: 150Px;
}
.second-sect {
	background-color: #f4f4f4;
	height: 700px;
}
.second-sect hr {
	margin-left: 180px;
}
.second-sect h2 {
	padding-top: 30px;
	margin-left: 180px;
}
.sub-section {
	border: 1Px solid;
	width: 800px;
	margin: 50px 230px;
	color: white;
	background-color: #025076;
	border-bottom: 5px solid #044773;
	border-radius: 5px;
	box-shadow: 6px 7px 15px #000;
}
.sub-section ul li{
	display: inline-block;
	padding: 10px;
	/*border: 1px solid;*/
}
.sub-section ul li:nth-child(1) {
	margin-left: 0px;
	
}
.sub-section ul li:nth-child(2) {
	margin-left: 55px;
	
}
.sub-section ul li:nth-child(3) {
	margin-left: 65px;
	
}
.sub-section ul li:nth-child(4) {
	margin-left: 85px;
	
}
.sub-section ul li:nth-child(5) {
	margin-left: 98px;
	
}

/*****************		
Deuxième section
 *****************/
 .progress {
 	width: 10px;
 	height: 160px;
 	border-top: 3px solid  #00aeef;
 	background: #025076;
 	border-radius: 5px;
 	z-index: 2;
 	display: inline-block;
 	margin-left: 30px;
 }  
.progress-co {
 	width: 50px;
 	height: 15px;
 	border-top: 3px solid #00aeef;
 	background: #025076;
 	text-align: center;
 	border-radius: 6px;
 	z-index: 2;
 	position: absolute;
 	top: -2px;
 } 
.progress:nth-child(2) .progress-co {
	position: absolute;
	left: -20px;
	top: 10px;
 }  
 .progress:nth-child(2) {
	position: absolute;
	left: 95px;
	top: 20px;
 }  
 .progress:nth-child(4) .progress-co {
	position: absolute;
	left: -20px;
	top: 50px;
 } 
 .progress:nth-child(4) {
	position: absolute;
	left: 240px;
	top: 20px;
 }  
 .progress:nth-child(6) .progress-co {
	position: absolute;
	left: -20px;
 } 
 .progress:nth-child(6) {
	position: absolute;
	left: 400px;
	top: 20px;
 } 
 .progress:nth-child(8) .progress-co {
	position: absolute;
	left: -20px;
	top: 20px;
 }
 .progress:nth-child(8) {
	position: absolute;
	left: 560px;
	top: 20px;
 }
 .pro-bar  {
	background-color: #1A2B2B;
	background-color: rgba(26,43,43,0.9);
 }
 .pro-bar  .text {
	color: white;
 }
 .pro-bar div.text:nth-child(1) {
	transform: rotate(-40deg);
	position: absolute;
	top: 40px;
	left: 20px;
 }
 .pro-bar div.text:nth-child(3) {
	transform: rotate(-40deg);
	position: absolute;
	top: 40px;
	left: 160px;
 }
 .pro-bar div.text:nth-child(5) {
	transform: rotate(-40deg);
	position: absolute;
	top: 40px;
	left: 330px;
 }
 .pro-bar div.text:nth-child(7) {
	transform: rotate(-40deg);
	position: absolute;
	top: 40px;
	left: 470px;
 }
 .autre-co {
 	position: relative;
 	top: 90px;
 	background-image: url(../img/f1.jpg);
 	background-size: cover;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
 	height: 200px;
 	clear: both;
 }
 .autre-co div {
 	height: 100px;
 	float: left;
 	font-size: 30Px;
 	color: white;
 	margin-top: 40px;
 	margin-left: 30px;
 	/*border: 1px solid white;*/
 }
 .autre-co div:nth-child(1) {
 	width: 190px;
 	margin-left: 50px;
 	padding-left: 40px;
 }
 .autre-co div:nth-child(2) {
 	margin-left: 40px;
 	padding-left: 30px;
 	width: 300px;
 }
 .autre-co div:nth-child(3) {
 	margin-left: 90px;
 	width: 350px;
 }
 .autre-co div:nth-child(4) {
 	width: 200px;
 }
 .s-sub-section div {
 	width: 250px;
 	height: 250px;
 	border: 1px solid  #00aeef;
 	display: inline-block;
 	margin-left: 20px;
 	box-shadow: 3px 6px 8px #1A2B2B;
 	transition: transform 2s;
 	border-radius: 5px;
 	background: #FFF;
 }
 .s-sub-section div:hover {
 	transform: scale(1.2);
 	cursor: pointer;
 	box-shadow: 3px 9px 12px #1A2B2B;
 	z-index: 2;
 }
 .s-sub-section  {
 	margin-left: 110px;
 }
 .s-sub-section div p  {
 
 }
 .bloc-2  {
 	position: relative;
 	top: 0;
 	left: 0;
 	width: 900px;
 	height: 200px;
 	border: 1px solid #1A2B2B;
 	margin-top: 30Px;
    margin-left: 100px;
 }
/*****************
Troisième section
 *****************/
.container {
  position: relative;
  width: 30%;
  float: left;
}

.image {
  display: block;
  width: 90%;
  height: auto;
}

.survol {
  position: absolute;
  bottom: 0;
  left: 90%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .survol {
  width: 100%;
  left: 0;
}

.info {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
 /*****************
 Les formes
 *****************/
 .po {
 	position: absolute;
 }
 .forme {
 	border-radius: 35px;
 	width: 20px;
 	height: 20px;
 	background-color: white;
 	}
 .forme:hover {cursor:pointer;}
 .fo {
 	width: 200px;
 	height: 5px;
 	background-color: black;
 	display: inline-block;
 }
 .cercle-b {
 	border: 5px solid #008CBA;
 	position: absolute;
 	top: -16px;
 	left: -1px;
 }
 .cercle-gr {
 	border: 5px solid #00A14C;
 	position: absolute;
 	top: -16px;
 	left: 160px;
 }
 .cercle-j {
 	border: 5px solid #EDDE45;
 	position: absolute;
 	top: -16px																																																																																																																																																																																																																																			;
 	left: 340px;
 }
 .cercle-g {
 	border: 5px solid #19DD89;
 	position: absolute;
 	top: -16px;
 	left: 730px;
 }
 .cercle-n {
 	border: 5px solid #1A2B2B;
 	position: absolute;
 	top: -17px;
 	left: 530px;
 }
 .cercle-t {
 	border: 5px solid teal;
 	position: absolute;
 	top: -17px;
 	left: 590px;
 }
 .ligne {
 	border: 2px solid;
 	width: 60%;
 	height: 0px;
 }
 .frise {
 	width: 90%;
 	margin-left: 250px;
 	margin-bottom: 70px;
 	position: relative;
 	top: 0;
 	left: 0;
 }
 .frise div a img {
 	margin-top: 2px;
 	margin-left: 2px;
 }
 .frise div {
 	margin: 0;
 	padding: 0;
 	/*background-color: red;*/
 }

 /*************
   footer
 **************/
footer {
	clear: both;
	height: 200px;
	background-color: #1A2B2B;
}





